body {
    
    background-color: beige;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 4.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    color:rgb(231, 157, 55);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: orange;
  }